
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Open Sans", sans-serif, Tahoma, Arial;   
}



 #flightDetials{
    border:  1px solid rgb(221, 217, 217);
    box-shadow: rgba(121, 121, 121, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px;
    width: 65%;
    height: 300px;
    margin-left: 5%;
    margin-top: 2%;
 }

 .heading {
     background-color: #F6F6F6;
 }
 
 .clear{
     clear: both;
 }

 .heading > p{
     font-size: 18px;
     line-height: 50px;
     font-weight: 200;
     color: #1a1a1a;
 }

 #flightDetials  div > img{
     float: left;
     margin-left: 2%;
     margin-right: 2%;
     width: 40px;
     height: 40px;
     margin-top: 5px;
 }

 #innerBOx{
     height: 200px;
     width: 96%;
     box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
     border-radius: 5px;
     background-color: white;
     margin-top: 2%;
     margin-left: 2%;
 }

 #tag{
     font-size: 12px;
     line-height: 17px;
     font-weight: 500;
     background-color: #5D5A5A;
     width: 60px;
     height: 27px;
     padding:5px;
     color: white;
     margin-left: 4px;
     margin-top: 1px;
     border-bottom-right-radius: 10px;
 }

 .flight-logo{
     float: left;
     font-size: 45px;
     font-weight: 300;
     margin-left: 2%;
 }
 #flightRoute{
     float: left;
     margin-left: 2%;
     margin-top: 0.5%;
     font-size: 20px;
     font-weight: 400;
     line-height: 29px;
 }
 .horizontalLine{
    border: 0.1px solid rgb(12, 12, 12);
    height: 1.3em ;
    float: left;
    width: 0.1em;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 4px;
}

#departDate{
    margin-top: 10px;
    color: #6a6868;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

#Carrier{
    margin-top: 6px;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    color: #1a1a1a;
    float: left;
}

#departTime{
    float: left;
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    margin-left: 15%;
}

#duration{
    float: left;
    font-size: 12px;
    line-height: 17px;
    font-weight: 400;
    color: #6a6868;
     margin-left: 20%;
}

.leftDot{
    border: 4px solid rgb(161, 160, 160);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    float: left;
    margin-top: 30px;
    margin-left: -20.3%;
}

.dotttedLine{
    float: left;
    border-top: 1px dotted gray;
    width: 30%;
    margin-top: 34px;
    margin-left: -19%;
}

svg{
    float: left;
    margin-top: 19px;
    margin-left: -15.1%;
}

.rightDot{
    border: 4px solid rgb(161, 160, 160);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    float: left;
    margin-top: 30px;
}

.fa-plane{
    margin-left: -33.3%;
    font-size: 20px;
    color: gray;
    margin-top: 23px;
    margin-left: -29.7%;
}

#landingDate{
    float: left;
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    color: #1a1a1a;
    margin-left: 8%;
}

#aircraftName{
    float: left;
    color: #6a6868;
    font-size: 12px;
    line-height: 17px;
    font-weight:400;
    margin-top: -10px;
}

#source{
    float: left;
    color: #6a6868;
    font-size: 12px;
    line-height: 17px;
    font-weight:600;
    margin-left: 14.8%;
    margin-top: -10px;
}

.refundable{
     float: left;
     margin-top: 10px;
     margin-left: 15.4%;
     font-size: 10px;
     line-height: 14px;
     color: #2dca1c;
     border: 1px solid #2dca1c;
     border-radius: 20px;
     width: 14%;
     height: 19px;
     padding-left: 30px;
     padding-right:15px; ;
}

#destination{
    float: left;
    color: #6a6868;
    font-size: 12px;
    line-height: 17px;
    font-weight:600;
    margin-left: 14%;
    margin-top: -10px;
}

#takeoffDate{
    float: left;
    color: #6a6868;
    font-size: 12px;
    line-height: 17px;
    font-weight:600;
    margin-left: -36.5%;
    margin-top: -15px;
}
#arrivalDate{
    float: left;
    color: #6a6868;
    font-size: 12px;
    line-height: 17px;
    font-weight:600;
    margin-left: 14.4%;
    margin-top: -15px;
}
#sourcerTerminal{
    float: left;
    color: #6a6868;
    font-size: 12px;
    line-height: 17px;
    font-weight:600;
    margin-left: 28%;
    margin-top: -20px;
}

#destinTerminal{
    float: left;
    color: #6a6868;
    font-size: 12px;
    line-height: 17px;
    font-weight:600;
    margin-left: 79%;
    margin-top: -20px;
}


#priceSummary{
    height: 40%;
    width: 25%;
    border: 1px solid red;
    margin-left: 72%;
    margin-top: -19.5%;
    border:  1px solid rgb(221, 217, 217);
    box-shadow: rgba(121, 121, 121, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px;
}

#priceSummary div > img{
    margin-top: 4px;
    width: 40px;
    height: 40px;
    margin-bottom: 4px;
    margin-left: 3px;
}

#priceSmrHead p{
  margin-left: 16%;
  margin-top: -14%;
}

.fa-male{
    float: left;
    font-size: 15px;
    margin-left: 60%;
    margin-top: -54%;
}

#adult{
     margin-left: 64%;
     margin-top: -7.5%;
     font-weight: 400;
     font-size: 14px;
}

.fa-child{
    float: left;
    font-size: 15px;
    margin-left: 69%;
    margin-top: -54%;
}

#child{
     margin-left: 73%;
     margin-top: -5.3%;
     font-weight: 400;
     font-size: 14px;
}

.infantLogo{
    float: left;
    font-size: 18px;
    margin-left: 77%;
    margin-top: -54%;
}
#infant{
    font-size: 14px;
    margin-left: 83%;
    margin-top: -4.8%;
}

.pricesmrLine1{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-left: 2%;
    margin-bottom: 4%;
}

.pricesmrLine1  {
    font-size: 13px;
    font-weight: 400;
}

#medicalrefundExtra , #medicalrefundBorder{
    display: none;
}

#price {
    margin-right:2% ;
    font-size: 16px;
    font-weight: 900;
}

.grandTotal{
    font-size: 22px;
    color: #d63b05;
    line-height: 35px;
    font-weight: 700;
}

#medicalRefund , #goodTOKnow{
    border:  1px solid rgb(221, 217, 217);
    box-shadow: rgba(121, 121, 121, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px;
    width: 65%;
    height: 145px;
    margin-left: 5%;
    margin-top: 5%;
}

.medicalRefundHead{
    display: flex;
    background-color: rgb(246,246,246);
}

.medicalRefundHead img{
    margin-left: 1%;
    margin-bottom: 1%;
}
.medicalRefundHead > img + p{
    font-size: 15px;
    color: #2196f3;
    line-height: 21px;
    margin-left: 1%;
    margin-top: 1%;
}

.medicalRefundHead > img + a{
    color: #2196f3;
    margin-left: 57%;
    font-size: 12px;
    margin-top: 1%;
}

 
.WantRefundRadio{
    display: flex;
}

.WantRefundRadio p{
    margin-top: 2.3%;
    margin-left: 1%;
    font-size: 12px;
}

.WantRefundRadio input {
   width: 20px;
   height: 20px;
   margin-left: 2%;
   margin-top: 2%;
}

#couponCodeDiv{
    height: 274px;
    width: 25%;
    margin-left: 72%;
    margin-top: -12.5%;
    border:  1px solid rgb(221, 217, 217);
    box-shadow: rgba(121, 121, 121, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px;   
    
}

#goodTOKnow{
    display: grid;
    margin-top: -3%;
    margin-bottom: 2%;
}

.goodTOKnowHead{
    background-color: rgb(220,251,208);
}


.goodTOKnowHead img{
    float: left;
    margin-right: 1.4%;
    margin-left: 1%;
    margin-top: 0.5%;

}
.goodTOKnowHead >p{
    font-size: 15px;
    float: left;
    margin-top: 1.7%;
}

.goodtoknwheadInfo{
    font-size: 11px !important;
}

.goodtoKnowHeaddiv{
    display: grid;
}
.goodtoknowList{
    margin-left: 2.5%;
    font-size: 12px;
    margin-top: 1.2%;
    font-weight: 400;
}

.cpnCodeHead{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: rgb(33,150,243);
    padding: 5px;
    margin-left: -1px;
    padding-left: 10px;
    color: white ;
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
}

 .no-outline{
    outline: 0;
    border-width: 0 0 1px;
    border-color: rgb(190, 190, 194);
    line-height: 35px;
    font-size: 18px;
    margin-left: 2.4%;
    padding-left: 5px;
 }

 #couponCodeDiv hr{
     margin-top: 2.7%;
     border: 0.5px solid gainsboro;
 }

 #applyCoupon{
    background-color: rgb(33,150,243);
    border: 1px solid  rgb(33,150,243);
    border-radius: 3px;
    color: white;
    padding: 5px;
    width: 30%;
    text-align: center;
    cursor: pointer;
    margin-left: 2%;
    margin-top: 2%;
 }

 #applyCoupon:hover{
     background-color: rgb(59, 114, 165);
     border: 1px solid rgb(59, 114, 165);
 }

 #coupounS{
  display: grid;
  overflow-y: scroll;
  height:170px ;
 }
 #coupounS >div{
     display: flex;
     height: 60px;
     border-bottom: 1px solid rgb(150, 146, 146);
 }

  #coupounS  h4{
      margin-top: 2%;
  }

  .makeThemHorizonatal{
      display: grid;
  }
  .makeThemHorizonatal p{
    font-size: 11px;
    line-height: 16px;
    color: #4a4a4a;
  }

 #couponRadio{
     margin-left: 3%;
     margin-top: 3%;
     margin-bottom: 2%;
     margin-right:2% ;
     width: 20px;
     height: 20px;
 }

 #continueButton{
    text-decoration: none;
    text-align: center;
    padding: 9px;
    float: left;
    font-size: 19px;
    border-radius: 5px;
    border: 1px solid #EF6614;
    width: 24%;
    background-color:  #EF6614;
    color: white;
    margin-left: 72.3%;
    margin-top: -6%;
 }

 #continueButton:hover{
     background-color: rgb(202, 73, 14);
     border: 1px solid rgb(202, 73, 14);
     transition: all 0.4 ease;
 }

@media only screen and (max-width:1355px){
    .fa-plane{
        margin-left: -30.6%;
    }
    
    #takeoffDate{
        margin-left: -36.8%;
    }
    #sourcerTerminal{
        margin-left: 29.5% ;
    }
    #destinTerminal{
        margin-left: 81%;
    }
    #priceSummary{
        width: 27%;
        margin-top: -22%;
    }
    .fa-male{
        margin-top: -56%;
    } 
    #adult{
        margin-top: -9.4%;
   }
    
    .fa-child{
    margin-top: -56%;
   }
   .infantLogo{
    margin-top: -56%;
   }
   #goodTOKnow{
       margin-top: -5%;
   }
   #couponCodeDiv{
       width: 27%;
   }
   #applyCoupon{
       width: 25%;
   }

}


@media only screen and (max-width:1230px){
    .fa-plane{
        margin-left: -31.3%;
    }

    .refundable{
        padding-left: 22px;
        margin-left: 17%;
    }
    #takeoffDate{
        margin-left: -39.5%;
    }
    #sourcerTerminal{
        margin-left: 30.5% ;
    }
    #destinTerminal{
        margin-left: 84.7%;
    }
   #priceSummary{
    margin-top: -24.5%;
    
    width: 25%;
   }
   #priceSmrHead p{
       margin-top: -15.4%;
   }
   .fa-male{
    margin-top: -65%;
    margin-left: 62.4%;
   }
    #adult{
        margin-left: 65.9%;
        margin-top: -10.3%;
   }
   .fa-child{
    margin-top: -65%;
    margin-right: 1%;
   }

   #child{
    margin-left: 74%;
    margin-right: 2%;
    margin-top: -6.4%;
    font-weight: 400;
    font-size: 14px;
   }

   .infantLogo{
    margin-top: -65%;
    margin-left:78% ;
   }
   #infant{
    margin-top: -6.2%;
    margin-left: 85%;
   }
    #goodTOKnow{
       margin-top: -6%;
   }
   #couponCodeDiv{
     margin-top: -14%;
   }
   
   #applyCoupon{
       width: 20%;
   }

   #price{
    margin-right:2% ;
    font-size: 12px;
    font-weight: 900;
   }

   .grandTotal{
    font-size: 20px;
    float: left;
    color: #d63b05;
    line-height: 35px;
    font-weight: 700;
   }
}
