

  /* Payment Page */
 /* bookflight */

 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
 @import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
 
 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family:"Open Sans", sans-serif, Tahoma, Arial;   
 }
 
 
 
  #flightDetials{
     border:  1px solid rgb(221, 217, 217);
     box-shadow: rgba(121, 121, 121, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
     border-radius: 5px;
     width: 100%;
     height: 300px;
     /* margin-left: 5%; */
     margin-top: 2%;
  }
 
  .heading {
      background-color: #F6F6F6;
  }
  
  .clear{
      clear: both;
  }
 
  .heading > p{
      font-size: 18px;
      line-height: 50px;
      font-weight: 200;
      color: #1a1a1a;
  }
 
  #flightDetials  div > img{
      float: left;
      margin-left: 2%;
      margin-right: 2%;
      width: 40px;
      height: 40px;
      margin-top: 5px;
  }
 
  #innerBOx{
      height: 200px;
      width: 96%;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      border-radius: 5px;
      background-color: white;
      margin-top: 2%;
      margin-left: 2%;
  }
 
  #tag{
      font-size: 12px;
      line-height: 17px;
      font-weight: 500;
      background-color: #5D5A5A;
      width: 60px;
      height: 27px;
      padding:5px;
      color: white;
      margin-left: 4px;
      margin-top: 1px;
      border-bottom-right-radius: 10px;
  }
 
  .flight-logo{
      float: left;
      font-size: 45px;
      font-weight: 300;
      margin-left: 2%;
  }
  #flightRoute{
      float: left;
      margin-left: 2%;
      margin-top: 0.5%;
      font-size: 20px;
      font-weight: 400;
      line-height: 29px;
  }
  .horizontalLine{
     border: 0.1px solid rgb(12, 12, 12);
     height: 1.3em ;
     float: left;
     width: 0.1em;
     margin-top: 10px;
     margin-left: 5px;
     margin-right: 4px;
 }
 
 #departDate{
     margin-top: 10px;
     color: #6a6868;
     font-size: 14px;
     line-height: 20px;
     font-weight: 400;
 }
 
 #Carrier{
     margin-top: 6px;
     font-size: 16px;
     font-weight: 400;
     line-height: 23px;
     color: #1a1a1a;
     float: left;
 }
 
 #departTime{
     float: left;
     font-size: 24px;
     line-height: 34px;
     font-weight: 700;
     margin-left: 15%;
 }
 
 #duration{
     float: left;
     font-size: 12px;
     line-height: 17px;
     font-weight: 400;
     color: #6a6868;
      margin-left: 20%;
 }
 
 .leftDot{
     border: 4px solid rgb(161, 160, 160);
     width: 5px;
     height: 5px;
     border-radius: 50%;
     float: left;
     margin-top: 30px;
     margin-left: -19%;
 }
 
 .dotttedLine{
     float: left;
     border-top: 1px dotted gray;
     width: 30%;
     margin-top: 34px;
     margin-left: -19%;
 }
 
 svg{
     float: left;
     margin-top: 19px;
     margin-left: -15.8%;
 }
 
 .rightDot{
     border: 4px solid rgb(161, 160, 160);
     width: 5px;
     height: 5px;
     border-radius: 50%;
     float: left;
     margin-top: 30px;
 }
 
 .fa-plane{
     margin-left: -33.3%;
     font-size: 20px;
     color: gray;
     margin-top: 23px;
     margin-left: -30.4%;
 }
 
 #landingDate{
     float: left;
     font-size: 24px;
     line-height: 34px;
     font-weight: 700;
     color: #1a1a1a;
     margin-left: 8%;
 }
 
 #aircraftName{
     float: left;
     color: #6a6868;
     font-size: 12px;
     line-height: 17px;
     font-weight:400;
     margin-top: -10px;
 }
 
 #source{
     float: left;
     color: #6a6868;
     font-size: 12px;
     line-height: 17px;
     font-weight:600;
     margin-left: 17%;
     margin-top: -10px;
 }
 
 .refundable{
      float: left;
      margin-top: 10px;
      margin-left: 15.4%;
      font-size: 10px;
      line-height: 14px;
      color: #2dca1c;
      border: 1px solid #2dca1c;
      border-radius: 20px;
      width: 14%;
      height: 19px;
      padding-left: 30px;
      padding-right:15px; ;
 }
 
 #destination{
     float: left;
     color: #6a6868;
     font-size: 12px;
     line-height: 17px;
     font-weight:600;
     margin-left: 16%;
     margin-top: -10px;
 }
 
 #takeoffDate{
     float: left;
     color: #6a6868;
     font-size: 12px;
     line-height: 17px;
     font-weight:600;
     margin-left: -35.9%;
     margin-top: -15px;
 }
 #arrivalDate{
     float: left;
     color: #6a6868;
     font-size: 12px;
     line-height: 17px;
     font-weight:600;
     margin-left: 15.9%;
     margin-top: -15px;
 }
 #sourcerTerminal{
     float: left;
     color: #6a6868;
     font-size: 12px;
     line-height: 17px;
     font-weight:600;
     margin-left: 29.3%;
     margin-top: -20px;
 }
 
 #destinTerminal{
     float: left;
     color: #6a6868;
     font-size: 12px;
     line-height: 17px;
     font-weight:600;
     margin-left: 81.1%;
     margin-top: -20px;
 }
/*  
 @media only screen and (max-width:1355px){
     .fa-plane{
         margin-left: -31.3%;
     }
     
     #takeoffDate{
         margin-left: -36.8%;
     }
     #sourcerTerminal{
         margin-left: 30.3% ;
     }
     #destinTerminal{
         margin-left: 82.9%;
     }
 }
 
 
 @media only screen and (max-width:1230px){
     .fa-plane{
         margin-left: -32%;
     }
 
     .refundable{
         padding-left: 22px;
         margin-left: 17%;
     }
     #takeoffDate{
         margin-left: -38.9%;
     }
     #sourcerTerminal{
         margin-left: 31.6% ;
     }
     #destinTerminal{
         margin-left: 86.5%;
     }
 } */
 


/* book flight End */
#paymentPage{
    width: 90%;
    display: grid;
    grid-template-columns: 68% 29%;
    grid-gap: 3%;
    margin: auto

}
.guestUser {
    min-height: 50px;
    padding: 1% 2%;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%);
	width: 100%;
	margin: auto;
}
.guestUser img{
margin-right: 8%;
}

.guestUser, .leftsection {
    
    display: flex;
    align-items: center;
}
.leftsection {
    width: 70%;
}

.mar20 {
    margin-top: 20px;
}

.loginLink {
    font-size: 14px;
    background: #2196f3;
    color: #fff;
    padding: 7px 20px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
}

/* Payment Mode */
#allBackground{
    background-color: #f2f4f5;
    padding-bottom: 5%;
}
#paymentMainDiv{
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%);
	width: 100%;
    margin-top: 3%;
}

#paymentHeading {
    display: flex;
    background-color: #F8F6F6;
    padding: 2%;
}

#paymentHeading i{
    margin-right: 2%;
    font-size: 20px;
    background-color: #F8F6F6;
}

#paymentMode{
    display: flex;
}
#paymentMode p{
    margin-top: 1%;
    margin-bottom: 1.5%;
}


#paymetOption {
    width: 40%;
    float: left;
    padding: 0;
    background: #f8f8f8;
    
}
#paymetOption a{
    text-decoration: none;
}




#options {
    display: grid;
    grid-template-columns: 20% 80%;
    border-bottom: 1px solid #e2e2e2;
    border-right: 1px solid #ccc;
    padding: 6%;
}


#cardPayment{
    padding: 2%;
    width: 100%;
    padding-bottom: 1%;
}
#cardPayment ::placeholder{
    font-size: 16px;
}


.firstOption{
    background-color: white;
    border: none;
    border-right: none !important;
}

.mk-pym {
    width: 70%;
    background-color: #ef6614;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    height: 45px;
    line-height: 45px;
    font-size: 19px;
    margin: 2% 0;
    cursor: pointer;
    float: right;
}

/* #inputCardNumber{ 
    position: relative; 
    height: 40px;
} */
/* 
#inputCardNumber input { 
    background-color:#fff; 
    display:block; 
    width: 90%; 
    box-sizing: border-box 
} */

#cardPayment input{
    width: 90%;
    height: 40px;
}
#expiryDate{
    display: grid;
    grid-template-columns: 31% 31% 31%;
    margin-top: 1%;
    margin-bottom: 1.1%;
}

#expiryDate select{
    width: 90%;
    height: 40px;
}

#expiryDate p{
    margin-bottom: 1.5%;
}

#amountSection{
    display: grid;
    grid-template-columns: 65% 35%;
}

#totalAmount{
    margin-top: 5%;
}

/* #inputCardHolderName input{
width: 90%;
height: 15%;
} */

/* #imag{
    position: absolute; 
    display: flex;
    top: 29%; 
    right: 11%;
} */

/* #imag img{
    justify-content: space-between;
}
#inputCardHolderName{
    margin-top: 3%;
} */